<div class="container" style="margin-top: 3rem">
    <div class="mx-auto mt-4 d-flex flex-column justify-content-center align-items-center" style="max-width: 400px; ">
        <h1>認証が完了しました。</h1>
        <%= link_to "続ける", new_user_session_path, class: "btn bg-light-main text-white mt-3 mb-5" %>
    </div>
</div>
