<div class="container my-5" style="max-width: 450px">
    <h3 class="d-flex align-items-center gap-2 fw-bold justify-content-center mb-3"><i class="fa fa-paw text-light-main"></i>友達申請完了</h3>
    <div class="actions text-center mt-3">
        <%= link_to '戻る', user_path(@user), class: "bg-light-main text-white fw-bold px-4 btn" %>
    </div>
</div>
